USE [18_5_2022]
GO
/****** Object:  Table [dbo].[NguoiThue]    Script Date: 5/26/2022 1:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiThue](
	[Id] [int] NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](15) NOT NULL,
	[QueQuan] [nvarchar](50) NOT NULL,
	[CCCD] [nvarchar](50) NOT NULL,
	[DaThue] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TienThang]    Script Date: 5/26/2022 1:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienThang](
	[IdPhong] [nvarchar](50) NOT NULL,
	[NgayThu] [date] NOT NULL,
	[TienPhong] [money] NOT NULL,
	[ChuDien] [int] NOT NULL,
	[TienMotChuDien] [money] NOT NULL,
	[TienDien] [money] NOT NULL,
	[ChuNuoc] [int] NOT NULL,
	[TienMotChuNuoc] [money] NOT NULL,
	[TienNuoc] [money] NOT NULL,
	[TongTien] [money] NOT NULL,
	[DaNop] [bit] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[NguoiThue] ([Id], [HoTen], [SDT], [QueQuan], [CCCD], [DaThue]) VALUES (2, N'ada,mdb ớ', N'1321', N'dasdasd', N'123', 0)
INSERT [dbo].[NguoiThue] ([Id], [HoTen], [SDT], [QueQuan], [CCCD], [DaThue]) VALUES (5, N'asdasd', N'213', N'asda', N'123', 0)
INSERT [dbo].[NguoiThue] ([Id], [HoTen], [SDT], [QueQuan], [CCCD], [DaThue]) VALUES (5, N'ada,mdb ớ', N'1321', N'dasdasd', N'123', 0)
GO
INSERT [dbo].[TienThang] ([IdPhong], [NgayThu], [TienPhong], [ChuDien], [TienMotChuDien], [TienDien], [ChuNuoc], [TienMotChuNuoc], [TienNuoc], [TongTien], [DaNop]) VALUES (N'2         ', CAST(N'2020-08-12' AS Date), 0.0000, 0, 0.0000, 0.0000, 0, 0.0000, 0.0000, 0.0000, 1)
INSERT [dbo].[TienThang] ([IdPhong], [NgayThu], [TienPhong], [ChuDien], [TienMotChuDien], [TienDien], [ChuNuoc], [TienMotChuNuoc], [TienNuoc], [TongTien], [DaNop]) VALUES (N'1         ', CAST(N'2021-09-18' AS Date), 0.0000, 0, 0.0000, 0.0000, 0, 0.0000, 0.0000, 0.0000, 1)
INSERT [dbo].[TienThang] ([IdPhong], [NgayThu], [TienPhong], [ChuDien], [TienMotChuDien], [TienDien], [ChuNuoc], [TienMotChuNuoc], [TienNuoc], [TongTien], [DaNop]) VALUES (N'3         ', CAST(N'2021-12-06' AS Date), 0.0000, 0, 0.0000, 0.0000, 0, 0.0000, 0.0000, 0.0000, 1)
GO
